node_modules
.DS_Store
dist
dist-ssr
*.local
.tanstack
.wrangler
.output
.vinxi
__unconfig*

.claude
.agents

# environment variables
.env*
.env.local
.env.example
.env.production

# turbo
.bun
.turbo
bun.lock

# typescript
*.tsbuildinfo
**/src/routeTree.gen.ts
**/src/routes.gen.ts
.reference
.sst
.env
dist
persist.json
.DS_Store
notes
.nvim.lua
.svelte-kit
bun.lockb
.bun